/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #75dda9;  
  background-size: auto 100vh;
  font-family: 'Roboto';
  height: 100vh;
  font-size: 10px;  
}


@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {  
  display: block;
  padding: 10px 20px;
  transition: background-color 0.5s , color 0.8s;
}

a {
  color: teal;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  background-color: teal;
  color: wheat;
}

.menu {
  background-color: wheat;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

.title {  
  opacity: 0;
  animation: linear 2s animtitle forwards;
}

@keyframes animtitle{  
  to {     
    opacity: 1;
  }
}

.site-title{
  color: whitesmoke;
  text-align: center; 
  font-size: 2em; 
  font-family: 'Montserrat', sans-serif;
}


.site-subtitle{
  color: whitesmoke;
  text-align: center; 
  font-size: 2em; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}




.sobre,
.contato,
.portifolio{
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
  padding: 2em;
  margin-bottom: 2em;
  padding-top: 4em;  
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    }
}


.sobre h2,
.contato h2,
.portifolio h2{
  margin-bottom: 1.2em;
  font-size: 2em;
  text-align: center;
}

.sobre p {
  color: whitesmoke;
  text-indent: 2em;
  margin-bottom: 1em;
  text-align: justify;
}

@media (min-width: 600px) {
.sobre .avatar {
  float: left;
  margin-right: 1.5em;
}
}

.sobre .avatar img {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.portifolio .grid{
  display: grid;
  gap: 2em;
  text-align: center;
}

@media (min-width: 600px) {
  .portifolio .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 900px) {
  .portifolio .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    height: calc(100vh - 4em - 48px -1.2em);
  }
}

.img-portfolio:hover{
  transform: scale(1.1);
}



.img-portfolio {
  height: 210px;
  width: 210px;
  object-fit: cover;
  object-position: center;  
}


.contato .icons{
  text-align: center;  
}

.contato a{
  font-size: 6em;
  color: whitesmoke;
  transition: text-shadow 1s;
}

.contato a:active, 
.contato a:hover{
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
